experiments/smart-mobility-tourism/prosumers/TourismInformationPlanner/src/main/resources/TourismInformationPlanner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.chorevolution.smartmobilitytourism/tourisminformationplanner" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cdtourisminformationplanner" targetNamespace="http://eu.chorevolution.smartmobilitytourism/tourisminformationplanner">
  <wsdl:types>
    <xsd:schema xmlns="http://eu.chorevolution.smartmobilitytourism/tourisminformationplanner" elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.smartmobilitytourism/tourisminformationplanner" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="getTouristicGuideRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
<xsd:element name="fromLat" type="xsd:double"/>
<xsd:element name="fromLon" type="xsd:double"/>
<xsd:element name="toLat" type="xsd:double"/>
<xsd:element name="toLon" type="xsd:double"/>
<xsd:element name="transportMode" type="modes"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTouristicGuideResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="Trip" type="tripsResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="parkings" type="ParkingType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="trafficInfos" type="TrafficType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="publicTransportInfo" type="NewsType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="weatherStations" type="WeatherType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="pois" type="PoiType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="events" type="NewsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getMobilityInfoRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
<xsd:element name="fromLat" type="xsd:double"/>
<xsd:element name="fromLon" type="xsd:double"/>
<xsd:element name="toLat" type="xsd:double"/>
<xsd:element name="toLon" type="xsd:double"/>
<xsd:element name="transportMode" type="modes"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getMobilityInfoResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="Trip" type="tripsResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="parkings" type="ParkingType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="trafficInfos" type="TrafficType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="publicTransportInfo" type="NewsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTourismInfoRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTourismInfoResponse">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="weatherStations" type="WeatherType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="pois" type="PoiType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="events" type="NewsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="tripsRequest">
<xsd:sequence>
<xsd:element name="fromLat" type="xsd:double"/>
<xsd:element name="fromLon" type="xsd:double"/>
<xsd:element name="toLat" type="xsd:double"/>
<xsd:element name="toLon" type="xsd:double"/>
<xsd:element name="transportMode" type="modes"/>
<xsd:element name="startAt" nillable="true" type="xsd:dateTime"/>
<xsd:element name="endAt" nillable="true" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="modes">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Walk"/>
<xsd:enumeration value="Bicycle"/>
<xsd:enumeration value="PublicTransport"/>
<xsd:enumeration value="Car"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="tripsResponse">
<xsd:sequence>
<xsd:element name="from" type="xsd:string"/>
<xsd:element name="to" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="trips" type="TripsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TripsType">
<xsd:sequence>
<xsd:element name="distance" type="xsd:int"/>
<xsd:element name="duration" type="xsd:int"/>
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="segments" type="SegmentType"/>
</xsd:sequence>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SegmentType">
<xsd:sequence>
<xsd:element name="distance" type="xsd:int"/>
<xsd:element name="duration" type="xsd:int"/>
<xsd:element name="transportType" type="modes"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="manouevres" type="xsd:string"/>
<xsd:element minOccurs="0" name="dropInNode" type="xsd:string"/>
<xsd:element minOccurs="0" name="dropOffNode" type="xsd:string"/>
<xsd:element minOccurs="0" name="line" type="xsd:string"/>
<xsd:element minOccurs="0" name="vehicleDirection" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="parkingRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="parkingResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="parkings" type="ParkingType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ParkingType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="operator" type="xsd:string"/>
<xsd:element name="type" type="xsd:string"/>
<xsd:element name="lat" type="xsd:double"/>
<xsd:element name="lon" type="xsd:double"/>
<xsd:element name="capacity" type="xsd:int"/>
<xsd:element name="freeSlots" type="xsd:int"/>
<xsd:element name="tariffs" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="trafficRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
<xsd:element name="type" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="trafficResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="trafficInfos" type="TrafficType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TrafficType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="lat" type="xsd:double"/>
<xsd:element name="lon" type="xsd:double"/>
<xsd:element name="description" type="xsd:string"/>
<xsd:element name="startDate" type="xsd:dateTime"/>
<xsd:element name="endDate" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="latestPTRequest">
<xsd:sequence>
<xsd:element name="type" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="latestPTResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="publicTransportNews" type="NewsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="weatherItemsRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="weatherItemsResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="weatherStations" type="WeatherType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WeatherType">
<xsd:sequence>
<xsd:element name="temperature" type="xsd:float"/>
<xsd:element name="humidity" type="xsd:int"/>
<xsd:element name="lat" type="xsd:double"/>
<xsd:element name="lon" type="xsd:double"/>
<xsd:element name="pressure" type="xsd:float"/>
<xsd:element name="windSpeed" type="xsd:float"/>
<xsd:element name="rain" type="xsd:float"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="poiRequest">
<xsd:sequence>
<xsd:element name="upperRightLat" type="xsd:double"/>
<xsd:element name="upperRightLon" type="xsd:double"/>
<xsd:element name="lowerLeftLat" type="xsd:double"/>
<xsd:element name="lowerLeftLon" type="xsd:double"/>
<xsd:element name="type" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="poiResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="pois" type="PoiType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PoiType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="description" type="xsd:string"/>
<xsd:element name="lat" type="xsd:double"/>
<xsd:element name="lon" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="latestNewsRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element name="lat" type="xsd:double"/>
<xsd:element name="lon" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="latestNewsResponse">
<xsd:sequence maxOccurs="unbounded" minOccurs="0">
<xsd:element name="events" type="NewsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NewsType">
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="description" type="xsd:string"/>
<xsd:element name="startDate" type="xsd:dateTime"/>
<xsd:element name="endDate" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTourismInfoRequestType">
<xsd:sequence>
<xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
<xsd:element name="senderParticipantName" type="xsd:string"/>
<xsd:element name="receiverParticipantName" type="xsd:string"/>
<xsd:element name="choreographyTaskName" type="xsd:string"/>
<xsd:element name="inputMessageName" type="xsd:string"/>
<xsd:element name="inputMessageData" type="getTourismInfoRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getTourismInfoRequestElementRequest" type="getTourismInfoRequestType"/>
<xsd:element name="getTourismInfoRequestElementResponse" type="getTourismInfoRequestReturnType"/>
<xsd:complexType name="getTourismInfoRequestReturnType">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="choreographyInstanceRequest">
<xsd:sequence>
<xsd:element name="choreographyId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sendRequestType">
<xsd:sequence>
<xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
<xsd:element name="senderParticipantName" type="xsd:string"/>
<xsd:element name="receiverParticipantName" type="xsd:string"/>
<xsd:element name="choreographyTaskName" type="xsd:string"/>
<xsd:element name="inputMessageName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendWeatherItemsRequestElementRequest" type="sendRequestType"/>
<xsd:complexType name="weatherItemsRequestReturnType">
<xsd:sequence>
<xsd:element name="inputMessageData" type="weatherItemsRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendWeatherItemsRequestElementResponse" type="weatherItemsRequestReturnType"/>
<xsd:complexType name="receiveWeatherItemsResponseType">
<xsd:sequence>
<xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
<xsd:element name="senderParticipantName" type="xsd:string"/>
<xsd:element name="receiverParticipantName" type="xsd:string"/>
<xsd:element name="choreographyTaskName" type="xsd:string"/>
<xsd:element name="outputMessageName" type="xsd:string"/>
<xsd:element name="outputMessageData" type="weatherItemsResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="receiveWeatherItemsResponseReturnType">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="receiveWeatherItemsResponseElementRequest" type="receiveWeatherItemsResponseType"/>
<xsd:element name="receiveWeatherItemsResponseElementResponse" type="receiveWeatherItemsResponseReturnType"/>
<xsd:element name="sendPoiRequestElementRequest" type="sendRequestType"/>
<xsd:complexType name="poiRequestReturnType">
<xsd:sequence>
<xsd:element name="inputMessageData" type="poiRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendPoiRequestElementResponse" type="poiRequestReturnType"/>
<xsd:complexType name="receivePoiResponseType">
<xsd:sequence>
<xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
<xsd:element name="senderParticipantName" type="xsd:string"/>
<xsd:element name="receiverParticipantName" type="xsd:string"/>
<xsd:element name="choreographyTaskName" type="xsd:string"/>
<xsd:element name="outputMessageName" type="xsd:string"/>
<xsd:element name="outputMessageData" type="poiResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="receivePoiResponseReturnType">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="receivePoiResponseElementRequest" type="receivePoiResponseType"/>
<xsd:element name="receivePoiResponseElementResponse" type="receivePoiResponseReturnType"/>
<xsd:element name="sendLatestNewsRequestElementRequest" type="sendRequestType"/>
<xsd:complexType name="latestNewsRequestReturnType">
<xsd:sequence>
<xsd:element name="inputMessageData" type="latestNewsRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendLatestNewsRequestElementResponse" type="latestNewsRequestReturnType"/>
<xsd:complexType name="receiveLatestNewsResponseType">
<xsd:sequence>
<xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
<xsd:element name="senderParticipantName" type="xsd:string"/>
<xsd:element name="receiverParticipantName" type="xsd:string"/>
<xsd:element name="choreographyTaskName" type="xsd:string"/>
<xsd:element name="outputMessageName" type="xsd:string"/>
<xsd:element name="outputMessageData" type="latestNewsResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="receiveLatestNewsResponseReturnType">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="receiveLatestNewsResponseElementRequest" type="receiveLatestNewsResponseType"/>
<xsd:element name="receiveLatestNewsResponseElementResponse" type="receiveLatestNewsResponseReturnType"/>
<xsd:element name="sendGetTourismInfoResponseElementRequest" type="sendRequestType"/>
<xsd:complexType name="getTourismInfoResponseReturnType">
<xsd:sequence>
<xsd:element name="inputMessageData" type="getTourismInfoResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendGetTourismInfoResponseElementResponse" type="getTourismInfoResponseReturnType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="receiveWeatherItemsResponseMessageRequest">
    <wsdl:part element="tns:receiveWeatherItemsResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receivePoiResponseMessageRequest">
    <wsdl:part element="tns:receivePoiResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendLatestNewsRequestMessageResponse">
    <wsdl:part element="tns:sendLatestNewsRequestElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendWeatherItemsRequestMessageRequest">
    <wsdl:part element="tns:sendWeatherItemsRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receivePoiResponseMessageResponse">
    <wsdl:part element="tns:receivePoiResponseElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendGetTourismInfoResponseMessageRequest">
    <wsdl:part element="tns:sendGetTourismInfoResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveLatestNewsResponseMessageRequest">
    <wsdl:part element="tns:receiveLatestNewsResponseElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTourismInfoRequestMessageResponse">
    <wsdl:part element="tns:getTourismInfoRequestElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPoiRequestMessageRequest">
    <wsdl:part element="tns:sendPoiRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendWeatherItemsRequestMessageResponse">
    <wsdl:part element="tns:sendWeatherItemsRequestElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTourismInfoRequestMessageRequest">
    <wsdl:part element="tns:getTourismInfoRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveLatestNewsResponseMessageResponse">
    <wsdl:part element="tns:receiveLatestNewsResponseElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPoiRequestMessageResponse">
    <wsdl:part element="tns:sendPoiRequestElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendLatestNewsRequestMessageRequest">
    <wsdl:part element="tns:sendLatestNewsRequestElementRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendGetTourismInfoResponseMessageResponse">
    <wsdl:part element="tns:sendGetTourismInfoResponseElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveWeatherItemsResponseMessageResponse">
    <wsdl:part element="tns:receiveWeatherItemsResponseElementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TourismInformationPlannerPT">
    <wsdl:operation name="getTourismInformation">
      <wsdl:input message="tns:getTourismInfoRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:getTourismInfoRequestMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendWeatherItemsRequest">
      <wsdl:input message="tns:sendWeatherItemsRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendWeatherItemsRequestMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveWeatherItemsResponse">
      <wsdl:input message="tns:receiveWeatherItemsResponseMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:receiveWeatherItemsResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPoiRequest">
      <wsdl:input message="tns:sendPoiRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendPoiRequestMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receivePoiResponse">
      <wsdl:input message="tns:receivePoiResponseMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:receivePoiResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLatestNewsRequest">
      <wsdl:input message="tns:sendLatestNewsRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendLatestNewsRequestMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveLatestNewsResponse">
      <wsdl:input message="tns:receiveLatestNewsResponseMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:receiveLatestNewsResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendGetTourismInfoResponse">
      <wsdl:input message="tns:sendGetTourismInfoResponseMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendGetTourismInfoResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TourismInformationPlannerBinding" type="tns:TourismInformationPlannerPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTourismInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendWeatherItemsRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveWeatherItemsResponse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPoiRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receivePoiResponse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLatestNewsRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveLatestNewsResponse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendGetTourismInfoResponse">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TourismInformationPlannerService">
    <wsdl:port binding="tns:TourismInformationPlannerBinding" name="TourismInformationPlannerPort">
      <soap:address location="http://localhost:9090/TourismInformationPlanner/TourismInformationPlanner"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
